{{>_navbar}}
<div class="mt-4">
    <button class="btn btn-outline-secondary"> <a href='/anhangueraeventos/formAtividades'>Adicionar Atividade</a> </button>
    
    {{#each regist}}
        <div class="card mt-2">
            <div class="card-body">
                <h2> <p> Nome da Atividade: {{nome}} </p></h2>
                
                <h4> 
                    Tipo de Atividade: {{tipo}}<br>
                    Ministrante: {{ministrante}}<br>
                    Data: {{data}}<br>
                    Hórario Inicio: {{horaInicio}}<br>
                    Hórario Final: {{horaFinal}}<br>
                    Sala: {{sala}}<br>
                    Carga horaria: {{cargaHoraria}}<br>
                    Participantes: {{numeroDePartic}}<br>
                    Tipo de inscrição: {{inscricaoT}}<br>
                </h4>

                <a href='/anhangueraeventos/removeAtividade/{{id}}'><button class="btn btn-outline-secondary">Remover atividade</button></a>
                <a href='/anhangueraeventos/formModifica/{{id}}'><button class="btn btn-outline-secondary"> Modificar atividade </button></a>
            </div>
        </div>
    {{/each}}
</div>