{{>_navbar}}
<div class="mt-4">
    <button class="btn btn-outline-secondary"> <a href='/anhangueraeventos/formAtividades'>Adicionar Atividade</a> </button>
    
    {{#each regist}}
        <div class="card mt-2">
            <div class="card-body">
                <h3><p>{{nome}}</p></h3>
                <h4><p>Tipo de Atividade: {{tipo}} Ministrante: {{ministrante}} Data: {{data}} Hora: {{hora}} 
                Sala: {{sala}} Participates: {{numeroDePartic}} Carga horaria: {{cargaHoraria}}
                Tipo de inscrição: {{inscricaoT}}</p>
                <button class="btn btn-outline-secondary"> <a href='/anhangueraeventos/removeAtividade/{{id}}'> Remover atividade </a> </button></a>
                <button class="btn btn-outline-secondary"> <a href='/anhangueraeventos/modificarAtividade/{{id}}'> Modificar atividade </a> </button></a>
            </div>
        </div>
    {{/each}}
</div>