<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <img src="imagens/logo.png" alt="Logo_temporaria" width="50px">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a href="" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link active">login</a>
        </li>
        <li class="nav-item">
             <a href="" class="nav-link">Cadastro</a>
        </li>
        <li class="nav-item">
             <a href="" class="nav-link">Sair</a>
        </li>
    </ul>
</nav>
<button> <a href='/adicionarAtividade'>Adicionar Atividade</a> </button>

{{#each regist}}
    <h3><p>{{nome}}</p></h3>
    <h4><p>Tipo de Atividade: {{tipo}} Ministrante: {{ministrante}} Data: {{data}} Hora: {{hora}} 
        Sala: {{sala}} Participates: {{numeroDePartic}} Carga horaria: {{cargaHoraria}}
        Tipo de inscrição: {{inscricaoT}}</p>
        <a href='/removeAtividade/{{id}}'><button>Remover atividade</button></a></h4>
         <a href='/modificarAtividade/{{id}}'><button>Modificar atividade</button></a></h4>
{{/each}}
