{{>_navbar}}
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 m-auto">

            <div class="mt-3">
                <center>
                    <h2>
                        <p> Gerencia de ministrantes </p>
                    </h2>
                </center>
                    <a href="/adicionar/ministrantes/{{evento.id}}"><button class="btn btn-outline-secondary ">Adicionar ministrante</button></a>

                    {{#each evento.ministrantes}}

                    <div class="card mt-2">
                        <div class="card-body fundo">

                            <h6>
                                Nome: {{nome}}<br>
                                E-mail: {{email}}<br>
                                Telefone: {{contato}}<br>
                                Papel: {{papel}}<br>
                            </h6>

                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>

 <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 m-auto footer-pag-sem-cont">
                {{>_footer1}}
            </div>
        </div>