{{>_navbar}}
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 m-auto">

            <div class="mt-3">
                <center>
                    <h2>
                        <p> SUAS ATIVIDADE </p>
                    </h2>
                </center>
                    {{>_msg}}
                <a href="/adicionar/atividades/{{evento.id}}"><button class="btn btn-outline-secondary">Criar Atividade</button></a>

                    {{#each evento.suas_atividades}}
                        <div class="card mt-2">
                    <div class="card-body fundo">

                        <h3>{{nome}}</h3>
                        <h6>
                            data de acontecimento: {{data}}<br>
                            tipo de evento: {{tipo_atividade}} <br>
                            {{#if paga}}
                            valor: {{valor}}<br>
                            {{else}}
                            gratuita
                            {{/if}}
                        </h6>
                        <a href='/gerenciar/atividade/{{id}}'><button
                                class="btn btn-outline-secondary">Gerencie esta atividade</button></a>
                    </div>

                    </div>
                    <!--div class="card mt-2 ">
                        <div class="card-body fundo">
                            <nav class="navbar fundo justify-content-end">
                                <h2 class="navbar-nav mr-auto margemAEsquerda">
                                    <p>{{nome}}</p>
                                </h2>

                                <button class="btn btn-outline-secondary" type="button" data-toggle="collapse"
                                    data-target="#navbarToggleExternalContent"
                                    aria-controls="navbarToggleExternalContent" aria-expanded="false"
                                    aria-label="Alterna navegação">
                                    <h6>Ver mais</h6>
                                    <!<span class="navbar-toggler-icon"></span>>
                                </button>
                            </nav>

                            <h6 class="text-black h5"> Tipo de Atividade: {{tipo}}<br></h6>
                            <h6 class="text-black h5">Data: {{data}}<br></h6>
                            <h6 class="text-black h5">Hórario inicio: {{horaInicio}}<br></h6>
                            <h6 class="text-black h5">Sala: {{sala}}<br></h6>

                           
                            <div class="pos-f-t fundo">
                                <div class="collapse " id="navbarToggleExternalContent">
                                    <div class="fundo">
                                        <h6 class="text-black h5">Ministrante: {{ministrante}}<br></h6>
                                        <h6 class="text-black h5">Duração: {{duracao}}<br></h6>
                                        <h6 class="text-black h5">Carga horaria: {{cargaHoraria}}<br></h6>
                                        <h6 class="text-black h5">Participantes: {{numeroDePartic}}<br></h6>
                                        <h6 class="text-black h5">Tipo de inscrição: {{inscricaoT}}<br></h6>
                                        <h6 class="text-black h5">Valor: {{valor}}<br></h6>
                                    </div>
                                </div>
                            </div><br>

                            <a href='/anhangueraeventos/removeAtividade/{{id}}'>
                                <button class="btn btn-outline-secondary">
                                    Remover atividade
                                </button>
                            </a>
                            <a href='/anhangueraeventos/formModifica/{{id}}'>
                                <button class="btn btn-outline-secondary">
                                    Modificar atividade
                                </button>
                            </a>

                        </div>
                    </!div-->
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>

</div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 m-auto footer-pag-sem-cont">
                {{>_footer1}}
        </div>
</div>