{{>_navbar}}
<center class="mt-5">
    <h1>GERENCIAMENTO DE ATIVIDADES</h1><br>
</center>
<br>
<div>
    {{>_msg}}
    <a href='/anhangueraeventos/formAtividades'><button class="btn btn-outline-secondary">Adicionar
            Atividade</button></a>
    {{#each regist}}
    <div class="card mt-2 ">
        <div class="card-body fundo">
            <h2>
                <p>{{nome}}</p>
            </h2>
            <nav class="navbar fundo justify-content-end">
                <button class="btn btn-outline-secondary" type="button" data-toggle="collapse"
                    data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                    aria-expanded="false" aria-label="Alterna navegação">
                    <h6>ver mais</h6>
                    <!--<span class="navbar-toggler-icon"></span>-->
                </button>
            </nav>
            <h5 class="text-black h4"> Tipo de Atividade: {{tipo}}<br></h5>
            <h5 class="text-black h4">Data: {{data}}<br></h5>
            <h5 class="text-black h4">Hórario inicio: {{horaInicio}}<br></h5>
            <h5 class="text-black h4">Sala: {{sala}}<br></h5>
            <!-- MOSTRA MAIS INFORMAÇÕES DA ATIVIDADE -->
            <div class="pos-f-t fundo">
                <div class="collapse " id="navbarToggleExternalContent">
                    <div class="fundo">
                        <h5 class="text-black h4">Ministrante: {{ministrante}}<br></h5>
                        <h5 class="text-black h4">Duração: {{duracao}}<br></h5>
                        <h5 class="text-black h4">Carga horaria: {{cargaHoraria}}<br></h5>
                        <h5 class="text-black h4">Participantes: {{numeroDePartic}}<br></h5>
                        <h5 class="text-black h4">Tipo de inscrição: {{inscricaoT}}<br></h5>
                    </div>
                </div>
            </div>
            <br>

            <a href='/anhangueraeventos/removeAtividade/{{id}}'><button class="btn btn-outline-secondary">Remover
                    atividade</button></a>
            <a href='/anhangueraeventos/formModifica/{{id}}'><button class="btn btn-outline-secondary">Modificar
                    atividade</button></a>
        </div>
    </div>
    {{/each}}
</div>

<footer class="footerRela">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a href="" class="btn"><small>©Anhangüera Eventos</small></a>
            </div>
        </div>
    </div>
</footer>