{{>_navbar}}

<br>

<div>
    <div class="container">
        <div class="row">
            <div class="col-20 col-sm-20 col-md-20 col-lg-10 m-auto fundo">

                <center class="mt-5">
                    <h1>GERENCIAMENTO DE ATIVIDADES</h1><br>
                </center><br>

                <div>
                    {{>_msg}}

                    {{#each regist}}
                    <div class="card mt-2 ">
                        <div class="card-body fundo">
                            <nav class="navbar fundo justify-content-end">
                                <!-- DEIXANDO O NOME DA ATIVIDADE DO LADO ESQUERDO -->
                                <h2 class="navbar-nav mr-auto margemAEsquerda">
                                    <p>{{nome}}</p>
                                </h2>

                                <button class="btn btn-outline-secondary" type="button" data-toggle="collapse"
                                    data-target="#navbarToggleExternalContent"
                                    aria-controls="navbarToggleExternalContent" aria-expanded="false"
                                    aria-label="Alterna navegação">
                                    <h6>Ver mais</h6>
                                    <!--<span class="navbar-toggler-icon"></span>-->
                                </button>
                            </nav>

                            <h6 class="text-black h5"> Tipo de Atividade: {{tipo}}<br></h6>
                            <h6 class="text-black h5">Data: {{data}}<br></h6>
                            <h6 class="text-black h5">Hórario inicio: {{horaInicio}}<br></h6>
                            <h6 class="text-black h5">Sala: {{sala}}<br></h6>
                            
                            <!-- MOSTRA MAIS INFORMAÇÕES DA ATIVIDADE -->
                            <div class="pos-f-t fundo">
                                <div class="collapse " id="navbarToggleExternalContent">
                                    <div class="fundo">
                                        <h6 class="text-black h5">Ministrante: {{ministrante}}<br></h6>
                                        <h6 class="text-black h5">Duração: {{duracao}}<br></h6>
                                        <h6 class="text-black h5">Carga horaria: {{cargaHoraria}}<br></h6>
                                        <h6 class="text-black h5">Participantes: {{numeroDePartic}}<br></h6>
                                        <h6 class="text-black h5">Tipo de inscrição: {{inscricaoT}}<br></h6>
                                        <h6 class="text-black h5">Valor: {{valor}}<br></h6>
                                    </div>
                                </div>
                            </div><br>

                            <a href='/anhangueraeventos/removeAtividade/{{id}}'>
                                <button class="btn btn-outline-secondary">
                                    Remover atividade
                                </button>
                            </a>
                            <a href='/anhangueraeventos/formModifica/{{id}}'>
                                <button class="btn btn-outline-secondary">
                                    Modificar atividade
                                </button>
                            </a>

                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="container">
        <div class="row">
            <div class="col-20 col-sm-20 col-md-20 col-lg-10 m-auto">
                <footer class="footerRela">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="" class="btn"><small>©Anhangüera Eventos</small></a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</div>