{{>_navbar}}
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 m-auto">

            <div class="mt-3">
                <center>
                    <h2>
                        <p> GERENCIA DE CUPONS </p>
                    </h2>
                </center>
                   <a href="/adicionar/cupons/{{evento.id}}"><button class="btn btn-outline-secondary">Criar Evento</button></a>
                    <!-- LISTANDO OS CUPONS DO BANCO DE DADOS-->
                    {{#each evento.seus_cupons}}
                    <div class="card mt-2">
                    <div class="card-body fundo">

                        <h3>{{codigo}}</h3>
                        <h6>
                            desconto:{{desconto}} <br>
                            quantidade: {{quantidade}}<br>
                            validade: {{validade}}<br>
                        </h6>
                        <a href='/apagar/lote/{{id}}'><button class="btn btn-outline-secondary">Apaga lote de cupons</button></a>
                    </div>
                    {{/each}}

                </div>
            </div>
        </div>
    </div>
</div>

    </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 m-auto footer-pag-sem-cont">
                {{>_footer1}}
            </div>
        </div>

    </div>