{{>_navbar}}
<div class="mt-5">
    <h2>
        <p> Eventos </p>
    </h2>
    <a href="/anhangueraeventos/formEvento"><button class="btn btn-outline-secondary btn-tamanhoUnico">Criar evento</button></a>
    <!-- LISTANDO OS EVENTOS DO BANCO DE DADOS-->
    {{#each listEvent}}
    
    <div class="card mt-2">
        <div class="card-body fundo">
            
            <h6>
                <a href="/anhangueraeventos/gerenciaDeEvento" class="btn">{{nome}}</a><br>
                Participantes esperados: {{participanteEs}}<br>
                Tipo de evento: {{tipoEvento}}<br>
                Adiministrador: {{nomeAdm}}<br>
                E-mail do administrado: {{emailAdm}}<br>
            </h6>

        </div>
    </div>
    {{/each}}
</div>