{{>_homeNavbar}}
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 m-auto">

            <div class="mt-3">
                <center>
                    <h2>
                        <p> SEUS EVENTOS </p>
                    </h2>
                </center>

                <a href="/adicionar/evento"><button class="btn btn-outline-secondary">Criar Evento</button></a>
                <!-- LISTANDO OS EVENTOS DO BANCO DE DADOS-->
                {{#each adm}}

                <div class="card mt-2">
                    <div class="card-body fundo">

                        <h3>{{nome}}</h3>
                        <h6>
                            local de realização: {{local_evento}} <br>
                            data de inicio: {{data_inicio}}<br>
                            data de termino: {{data_termino}}<br>
                        </h6>
                        <a href='/gerenciar/evento/{{id}}'><button
                                class="btn btn-outline-secondary">Gerencie este
                                Evento</button></a>
                    </div>

                </div>
                {{/each}}
            </div>
        </div>

    </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 m-auto footer-pag-sem-cont">
                {{>_footer1}}
            </div>
        </div>

</div>