{{>_navbar}}
<div class="mt-5">
    <h2>
        <p> Eventos </p>
    </h2>
    <!-- LISTANDO OS EVENTOS DO BANCO DE DADOS-->
    {{#each listEvent}}
    <div class="card mt-2">
        <div class="card-body">
            
            <h6>
                Nome: {{nome}}<br>
                Participantes esperados: {{participanteEs}}<br>
                Tipo de evento: {{tipoEvento}}<br>
                Adiministrador: {{nomeAdm}}<br>
                E-mail do administrado: {{emailAdm}}<br>
            </h6>

        </div>
    </div>
    {{/each}}
</div>